In [1]:
'''Let us say your expense for every month are listed below,
January - 2200
February - 2350
March - 2600
April - 2130
May - 2190
Create a list to store these monthly expenses and using that find out,

1. In Feb, how many dollars you spent extra compare to January?
2. Find out your total expense in first quarter (first three months) of the year.
3. Find out if you spent exactly 2000 dollars in any month
4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
5. You returned an item that you bought in a month of April and
got a refund of 200$. Make a correction to your monthly expense list
based on this'''

'Let us say your expense for every month are listed below,\nJanuary - 2200\nFebruary - 2350\nMarch - 2600\nApril - 2130\nMay - 2190\nCreate a list to store these monthly expenses and using that find out,\n\n1. In Feb, how many dollars you spent extra compare to January?\n2. Find out your total expense in first quarter (first three months) of the year.\n3. Find out if you spent exactly 2000 dollars in any month\n4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list\n5. You returned an item that you bought in a month of April and\ngot a refund of 200$. Make a correction to your monthly expense list\nbased on this'

In [2]:
expense=[{'January':2200},{'February':2350},{'March':2600},{'April':2130},{'May':2190}]

In [3]:
#In Feb, how many dollars you spent extra compare to January?

In [6]:
expense[1]['February']-expense[0]['January']

150

In [7]:
#Find out your total expense in first quarter (first three months) of the year.

In [44]:
total_expense_first_quarter=0
for i in expense[0:3]:
    total_expense_first_quarter +=list(i.values())[0]
print(total_expense_first_quarter)

7150

In [38]:
for i in expense[0:3]:
    print(list(i.values())[0])

2200
2350
2600

In [42]:
#Find out if you spent exactly 2000 dollars in any month

In [45]:
for i in expense[0:3]:
    print(list(i.items()))

[('January', 2200)]
[('February', 2350)]
[('March', 2600)]

In [54]:
count_month=False
for i in expense:
    if list(i.values())[0] == 2000:
        count_month=True
        print(i)
        break
        
if count_month==False:
    print('Not spent exactly 2000 dollars in any month')

Not spent exactly 2000 dollars in any month

In [55]:
expense=[{'January':2200},{'February':2350},{'March':2600},{'April':2130},{'May':2190}]

In [56]:
expense.append({'June':2000})

In [57]:
expense

[{'January': 2200},
 {'February': 2350},
 {'March': 2600},
 {'April': 2130},
 {'May': 2190},
 {'June': 2000}]

In [58]:
count_month=False
for i in expense:
    if list(i.values())[0] == 2000:
        count_month=True
        print(i)
        break
        
if count_month==False:
    print('Not spent exactly 2000 dollars in any month')

{'June': 2000}

In [59]:
#June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list

In [60]:
expense

[{'January': 2200},
 {'February': 2350},
 {'March': 2600},
 {'April': 2130},
 {'May': 2190},
 {'June': 2000}]

In [61]:
expense.pop(-1)

{'June': 2000}

In [62]:
expense

[{'January': 2200},
 {'February': 2350},
 {'March': 2600},
 {'April': 2130},
 {'May': 2190}]

In [63]:
expense.append({'June':1980})

In [64]:
expense

[{'January': 2200},
 {'February': 2350},
 {'March': 2600},
 {'April': 2130},
 {'May': 2190},
 {'June': 1980}]

In [ ]:
#You returned an item that you bought in a month of April and
got a refund of 200$. 
Make a correction to your monthly expense list based on this

In [65]:
expense[3].values()

dict_values([2130])

In [68]:
list(expense[3].values())[0]-200

1930

In [74]:
expense[3]['April']=list(expense[3].values())[0]-200

In [75]:
expense

[{'January': 2200},
 {'February': 2350},
 {'March': 2600},
 {'April': 1930},
 {'May': 2190},
 {'June': 1980}]

In [73]:
expense[3]['April']=2130