In [1]:
#1. Printing Stars '*' in Right Angle Triangle Shape

In [ ]:
*
**
***
****
*****

In [6]:
a=''
for i in range(1,6):
    for j in range(i):
        a+="*"
    print(a)
    a=''

*
**
***
****
*****

In [1]:
#better way

In [5]:
num=int(input('Enter number of rows '))
for i in range(1,num+1):
    for j in range(1,i+1):
        print("*",end=" ")  #end is used to print the value and
                           #next print() will print in same line with end value will print in middle of two print
    print()

Enter number of rows 5
*
* *
* * *
* * * *
* * * * *

In [ ]:
#2. Printing Stars '*' in Right Angle Triangle Shape.
odd no. of '*' in row
*
***
*****

In [6]:
n=int(input('Enter number of rows '))
for i in range(n):
    for j in range(i+i+1):
        print('*',end=' ')
    print()

Enter number of rows 5
*
* * *
* * * * *
* * * * * * *
* * * * * * * * *

In [7]:
#other way

In [10]:
n=int(input('Enter number of rows '))
k=1
for i in range(1,n+1):
    for j in range(1,k+1):
        print('*',end=' ')
    print()
    k=k+2

Enter number of rows 5
*
* * *
* * * * *
* * * * * * *
* * * * * * * * *