In [1]:
#List question

In [2]:
py_list=[1,2,3,4,5,6,7,8,9,10]

In [3]:
py_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
sum(py_list)

55

In [5]:
len(py_list)

10

In [6]:
avg=sum(py_list)/len(py_list)

In [7]:
avg

5.5

In [ ]:
#Q2. list1=[1,2,3,4,5,6]
list2=[7,8,9,10,2,4,1]
Create a newlist which has elements of lis1 and list2 but without duplicates

In [1]:
#using type casting

In [2]:
list1=[1,2,3,4,5,6]
list2=[7,8,9,10,2,4,1]

In [4]:
newlist = list(set(list1 + list2))
newlist

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
#using loop

In [6]:
newlist1 = []
temp=list1+list2
for i in temp:
    if i not in newlist1:
        newlist1.append(i)
newlist1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#Q3. Convert matrix to transpose matrix
matrix = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]

Output:
trans_matrix = [
    [1,4,7],
    [2,5,8],
    [3,6,9]
]

In [7]:
matrix = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]

In [8]:
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [15]:
trans_matrix = []
cols = len(matrix[0])
for i in range(cols):
    t_row = []
    for row in matrix:
        t_row.append(row[i])
    trans_matrix.append(t_row)
    
trans_matrix

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [11]:
trans_matrix = []
matrix[0]+matrix[1]+matrix[2]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#transpose in 1 line

In [16]:
[[row[i] for row in matrix] for i in range(cols)]

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [ ]:
#Q4. What is different between following expresion
lst=[1,2,3,4]
1. lst * 3
2. lst *= 3
3. lst +=3
4. lst += [3]

In [17]:
lst = [1,2,3,4]

In [18]:
lst * 3    #repeat/replicate the list for 3 times and original list remain same

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [19]:
lst *=3    #lst = lst*3 it will repeat the list for 3 times and update the original list

In [20]:
lst

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [21]:
lst = [1,2,3,4]

In [22]:
lst +=3   #can only concatenate list with list(not with int)

TypeError: 'int' object is not iterable

In [23]:
lst +=[3]  #concatenate list with [3] (i.e. list)

In [24]:
lst

[1, 2, 3, 4, 3]

In [1]:
#Q5. By using for loop, count a number of occurence of specific element. Without using count()

In [6]:
no_elements=int(input('Enter no. of element present in list: '))
list1=[]
for i in range(no_elements):
    list1.append(int(input('Enter elements: ')))
count_no = input("Enter the no. to check occurence: ")
count=0
for i in list1:
    if i == int(count_no):
        count+=1
count

Enter no. of element present in list: 10
Enter elements: 4
Enter elements: 7
Enter elements: 9
Enter elements: 3
Enter elements: 2
Enter elements: 7
Enter elements: 4
Enter elements: 4
Enter elements: 9
Enter elements: 1
Enter the no. to check occurence: 9

2

In [7]:
lst=[1,1,1,1,2,3,4,5,6,6,6,6]
count_no = input("Enter the no. to check occurence: ")
count=0
for i in lst:
    if i == int(count_no):
        count+=1
count

Enter the no. to check occurence: 1

4

In [1]:
#Q6. Calculate the avg marks of student using function

In [3]:
marks=[87,56,47,82,91]
avg=sum(marks)/len(marks)
avg

72.6

In [4]:
#using function

In [12]:
#In python, time complexity is O(1)
#In c, Java, Time complexity will be O(n)

def avg_marks(marks):
    avg_marks_stud=sum(marks)/len(marks)
    return avg_marks_stud

marks=[87,56,47,82,91]
avg_marks(marks)

72.6