In [1]:
#Q1. Python program to calculate the avg of numbers in lists

In [2]:
lst = [4,8,2,6,9,1,5]
avg = sum(lst)/len(lst)
avg

5.0

In [10]:
def avg(lst):
    avg =sum(lst)/len(lst)
    print(avg)

In [11]:
avg([4,8,2,6,9,1,5])

5.0

In [3]:
#Q2. Python program to exchange the values of two numbers without using third variable

In [1]:
x=30
y=27
print(f'x: {x}  y: {y}')
x,y =y,x
print(f'x: {x}  y: {y}')

x: 30  y: 27
x: 27  y: 30

In [5]:
a = 10
b = 20
a = a + b    #a= 10 +20 =30        a=30 b=20
b = a - b    #b= 30 - 20 = 10      a=30 b=10
a = a - b    #a= 30 -10 =20        a=20 b=10
a

20

In [6]:
b

10

In [7]:
lst1=[20,30]
lst1.reverse()

In [8]:
lst1

[30, 20]

In [12]:
def swap(a,b):
    a= a+b
    b= a-b
    a= a-b
    return a,b

In [16]:
a,b = swap(100,40)

In [17]:
a

40

In [18]:
b

100

In [9]:
#Q3. python program to a read number n and compute n+nn+nnn+nnnn

In [14]:
(lambda x:x+ x*x + x*x*x+ x*x*x*x)(10)

11110

In [20]:
def compute(n):
    result = n + n*n + n*n*n + n*n*n*n
    print(result)

In [21]:
compute(1)

4

In [22]:
compute(10)

11110

In [30]:
import math

In [32]:
def comp(n):
    res = n + math.pow(n,2) + math.pow(n,3) + math.pow(n,4)
    print(res)

In [33]:
comp(1)

4.0

In [34]:
#Q4. Python progam to reverse the given number

In [42]:
def reverse(n):
    print(int(str(n)[::-1]))

In [43]:
reverse(299)

992

In [44]:
reverse(3800)

83

In [45]:
#Q5. python program to take a five subject marks and display the grade

In [50]:
def grade():
    sub_marks =[]
    for i in range(1,6):
        mark = int(input(f'Enter subject {i} marks: '))
        sub_marks.append(mark)
    
    per = sum(sub_marks)/500 *100    #per-- percentage
    
    if per<=100 and per>=80:
        grade ="A+"
    elif per<80 and per>=70:
        grade ="A"
    elif per<70 and per>=60:
        grade ="B"
    elif per<60 and per>=50:
        grade ="C"
    elif per<50 and per>40:
        grade ="D"
    else:
        grade ="Fail"
        
    return sub_marks, per, grade

In [51]:
result = grade()

Enter subject 1 marks: 87
Enter subject 2 marks: 56
Enter subject 3 marks: 99
Enter subject 4 marks: 84
Enter subject 5 marks: 58

In [52]:
result

([87, 56, 99, 84, 58], 76.8, 'A')

In [53]:
#Q6. python program to print all numbers in range divisible by given number

In [54]:
def divisible_no(start,end, num):
    for i in range(start,end):
        if i%num == 0:
            print(i)

In [56]:
divisible_no(10,40,2)

10
12
14
16
18
20
22
24
26
28
30
32
34
36
38

In [ ]:
#Q7. PP to read two numbers and print there quotrient and reminder

In [1]:
def quotient_rem():
    dividend = int(input('Enter dividend :'))
    divisor = int(input('Enter divisor :'))
    quotient = dividend//divisor
    remainder = dividend%divisor
    print(f'Quotient = {quotient} and Remainder = {remainder}')

In [4]:
quotient_rem()

Enter dividend :23
Enter divisor :5
Quotient = 4 and Remainder = 3

In [5]:
#Q8. PP to accept three digits and print all possible combinations from digits

In [19]:
def combination():
    three_digit_num =input('Enter three digit number : ')
    if three_digit_num.isdecimal() and len(three_digit_num)==3:
        split_num_lst = split_num(three_digit_num)
        com_lst = swap_digit(split_num_lst)
        print(com_lst)
    else:
        print("Enter valid number")

In [20]:
# used to split isnumeric value, i.e value in string type
def split_num(num):
    num_list=[]
    for i in range(len(num)):
        num_list.append(int(num[i]))
    return num_list

In [21]:
def swap_digit(lst):
    count=0
    com_lst=[]
    for i in range(6):
        
        lst[count],lst[count+1] = lst[count+1],lst[count])
        com_lst.append(int(str(lst[0])+str(lst[1])+str(lst[2])))
        if count == 0:
            count+=1
        else:
            count-=1
    return com_lst

In [15]:
lst=split_num('8756')

In [16]:
lst

[8, 7, 5, 6]

In [22]:
combination()

Enter three digit number : 765
[675, 657, 567, 576, 756, 765]

In [ ]:
#other way to solve problem

In [11]:
def all_possible_comb():
    comb=[]
    d=input('Enter a three digit no: ')
    for i in range(3):
        for j in range(3):
            for k in range(3):
                if(i!=j and j!=k and i!=k):
                    comb.append((d[i]+d[j]+d[k]))
                    
    return comb

In [12]:
all_possible_comb()

Enter a three digit no: 482

['482', '428', '842', '824', '248', '284']

In [15]:
#Q9. PP to print odd numbers within a given range

In [18]:
p=list(range(20))

In [19]:
p

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [25]:
list(filter(lambda x:x%2!=0, p))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [26]:
list(map(lambda x:x%2!=0, p))

[False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True]

In [ ]:
#Q10. pp to find the sum of digits in number

In [1]:
int(map(lambda x:+x,digit))

NameError: name 'digit' is not defined

In [6]:
def sum_of_digit():                                     
    num = input('Enter a number: ')
    sum=0
    for i in num:
        sum+=int(i)
    print(sum)
sum_of_digit()

Enter a number5418
18

In [7]:
s='76456'

In [8]:
s.strip()

'76456'

In [9]:
list(s)

['7', '6', '4', '5', '6']

In [14]:
#sum of digit

In [17]:
num = input("Enter a number: ")
sum([int(i) for i in num])

Enter a number: 9128

20

In [1]:
num = input("Enter a number: ")
sum(list(num))

Enter a number: 9128

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
#Q11. PP to find smallest divisor of integer

In [5]:
num = int(input("enter a number"))
for i in range(2,num+1):
    if num%i==0:
        print(i)
        break

enter a number54
2

In [9]:
#Find largest divisor of integer
num = int(input("enter a number"))
for i in list(range(1,num))[::-1]:
    if num%i==0:
        print(i)
        break

enter a number67
1

In [ ]:
#Q12. PP to count the number of digits in num

In [19]:
num = int(input('Enter a number: '))
len(str(num))

Enter a number: 6749801

7

In [ ]:
#convert string to list of character using
1. list comprehension      ------[i for i in string]
2. type casting ---------- list(string)
3. map -------             list(map(lambda x:x, string))

In [ ]:
#Q13. PP to check if the number is palindrome

In [18]:
num = input('Enter a number:')
if num==num[::-1]:
    print(f'{num} is palindrome no')
else:
    print(f'{num} is not palindrome no')

Enter a number:756
756 is not palindrome no

In [23]:
#Other way
num = input('Enter a number:')
print(f"{num} is palindrome number? ",num==num[::-1])

Enter a number:7654567
7654567 is palindrome number?  True

In [24]:
#Q14. PP to print all integers that aren't divisible by two or threee and lies between 1 to 5

In [25]:
for i in range(1,5):
    if i%2!=0 and i%3!=0:
        print(i)

1

In [29]:
py_list=list(range(30))

In [30]:
py_list

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29]

In [31]:
list(filter(lambda x:x%2!=0 and x%3!=0, py_list))

[1, 5, 7, 11, 13, 17, 19, 23, 25, 29]

In [32]:
#Q15. PP to read N numbers and print the series 1+2+.....+N

In [33]:
py_list=list(range(10))

In [34]:
py_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [38]:
list(map(lambda x:print(x,end="+"),py_list))

0+1+2+3+4+5+6+7+8+9+

[None, None, None, None, None, None, None, None, None, None]

In [6]:
num = int(input('Enter a number: '))
for i in range(1,num+1):
    print(i,end='')
    if i<num:
        print('+',end='')

Enter a number: 10
1+2+3+4+5+6+7+8+9+10

In [7]:
num = int(input('Enter a number: '))
num_list =[]
for i in range(1,num+1):
    num_list.append(i)
    print(i,end='')
    if i<num:
        print('+',end='')
print('=',sum(num_list))

Enter a number: 10
1+2+3+4+5+6+7+8+9+10= 55

In [ ]:
#Q16. PP to print identity matrix

In [17]:
#matrix in list using clear() method
size = int(input('Enter size of matrix: '))
matrix = []
row = []
print('print matrix in row')
for i in range(size):
    
    for j in range(size):
        if i==j:
            row.append(1)
        else:
            row.append(0)
    print(row)
    matrix.insert(i,row)
    row.clear()     #using clear() it remove element of row list as well as matrix list, why?
print('Matrix in list form')
print(matrix)

Enter size of matrix: 4
print matrix in row
[1, 0, 0, 0]
[0, 1, 0, 0]
[0, 0, 1, 0]
[0, 0, 0, 1]
Matrix in list form
[[], [], [], []]

In [16]:
#matrix in list using reassign row=[] to remove the element in list
size = int(input('Enter size of matrix: '))
matrix = []
row = []
for i in range(size):
    for j in range(size):
        if i==j:
            row.append(1)
        else:
            row.append(0)
    print(row)
    matrix.insert(i,row)
    row = []    
print(matrix)

Enter size of matrix: 4
[1, 0, 0, 0]
[0, 1, 0, 0]
[0, 0, 1, 0]
[0, 0, 0, 1]
[[1, 0, 0, 0], [0, 1, 0, 0], [0, 0, 1, 0], [0, 0, 0, 1]]

In [ ]:
#Q17. PP to print inverted star Pattern

In [ ]:
n=3
***
 **
  *
n=5
*****
 ****
  ***
   **
    *

In [19]:
num = int(input('Enter number: '))
for i in range(num):
    for j in range(i+1):
        print('*',end='')
    print()

Enter number: 6
*
**
***
****
*****
******

In [37]:
#efficient way
num = int(input('Enter number of row: '))
for i in range(1,num+1):
    print(i*'*')

Enter number of row: 4
*
**
***
****

In [27]:
num = int(input('Enter number: '))
for i in range(num):
    for j in range(num):
        if(i<=j):
            print('*',end='')
        else:
            print(' ',end='')
    print()

Enter number: 6
******
 *****
  ****
   ***
    **
     *

In [28]:
#efficient way

In [34]:
num = int(input('Enter number: '))
for i in range(num,0,-1):
    print((num-i)*' '+i*'*')

Enter number: 5
*****
 ****
  ***
   **
    *

In [35]:
list(range(6,0,-1))

[6, 5, 4, 3, 2, 1]

In [ ]:
#Q18. PP to find the largest number in the list

In [38]:
py_list=[8,4,7,1,9,3,2,6,5]

In [39]:
py_list

[8, 4, 7, 1, 9, 3, 2, 6, 5]

In [40]:
max(py_list)

9

In [41]:
min(py_list)

1

In [ ]:
#Q19. PP to take the list and print the second largest number in the list

In [42]:
py_list

[8, 4, 7, 1, 9, 3, 2, 6, 5]

In [43]:
first_max=max(py_list)

In [44]:
sec_max=0
for i in py_list:
    if i<first_max and sec_max<i:
        sec_max=i
print(f'Second largest number: {sec_max}')

Second largest number: 8

In [ ]:
Type of copy
1. shallow copy ---- copy with reference    (using assignment operator = )
                     modification in one list reflect in other list

2. deep copy ------- copy without reference    (using copy() method)
                      modification in one list do not reflect in other list

In [46]:
py_list

[8, 4, 7, 1, 9, 3, 2, 6, 5]

In [47]:
list_copy=py_list.copy()         #deep copy

In [48]:
list_copy

[8, 4, 7, 1, 9, 3, 2, 6, 5]

In [49]:
list_copy.append(10)

In [50]:
list_copy

[8, 4, 7, 1, 9, 3, 2, 6, 5, 10]

In [51]:
py_list

[8, 4, 7, 1, 9, 3, 2, 6, 5]

In [52]:
py_list.append(11)

In [53]:
py_list

[8, 4, 7, 1, 9, 3, 2, 6, 5, 11]

In [54]:
list_copy

[8, 4, 7, 1, 9, 3, 2, 6, 5, 10]

In [55]:
#shallow copy

In [56]:
list1 = [6,3,9,5,1]

In [57]:
list1

[6, 3, 9, 5, 1]

In [58]:
list2 = list1

In [59]:
list2

[6, 3, 9, 5, 1]

In [60]:
list1.append(10)

In [61]:
list1

[6, 3, 9, 5, 1, 10]

In [62]:
list2

[6, 3, 9, 5, 1, 10]

In [63]:
list2.append(21)

In [64]:
list2

[6, 3, 9, 5, 1, 10, 21]

In [65]:
list1

[6, 3, 9, 5, 1, 10, 21]

In [ ]:
#print the second largest number in the list using sort()

In [1]:
list1=[8,4,3,4,33,25,74,103]

In [2]:
list2 =list1.copy()

In [3]:
list2

[8, 4, 3, 4, 33, 25, 74, 103]

In [4]:
list2.sort()

In [5]:
list1

[8, 4, 3, 4, 33, 25, 74, 103]

In [6]:
list2

[3, 4, 4, 8, 25, 33, 74, 103]

In [8]:
list2[-2]     #second largest number

74

In [9]:
#Q20. PP to merge two lists and to sort it

In [10]:
list1=[7,3,1,8,5,3]

In [11]:
list2=[9,11,2,10,4]

In [16]:
sort_list=list1+list2

In [17]:
sort_list

[7, 3, 1, 8, 5, 3, 9, 11, 2, 10, 4]

In [18]:
sort_list.sort()

In [19]:
sort_list

[1, 2, 3, 3, 4, 5, 7, 8, 9, 10, 11]

In [1]:
#Q21. PP to find the union of two lists

In [2]:
l1= [84,92,100,29,63]

In [3]:
l2=[100,29,83,43,28,46,29]

In [5]:
set(l1).union(set(l2))

{28, 29, 43, 46, 63, 83, 84, 92, 100}

In [6]:
#Q22. PP to find the count of numbers and display in dictionary

In [19]:
list1 = [False,0,1,1,1,1,1,1,1,1,1,True,10,20,0,7,7,9,7,7,9]
Unq_ele = list(set(list1))
dict_count={}
for i in Unq_ele:
    dict_count[i]=list1.count(i)
    
print(dict_count)

{False: 3, 1: 10, 7: 4, 9: 2, 10: 1, 20: 1}

In [ ]:
#Q23. PP to swap the first and last value of the list

In [14]:
list2= [3,2,9,5,1,8,4,6]

In [15]:
list2[0],list2[-1] = list2[-1],list2[0]

In [16]:
list2

[6, 2, 9, 5, 1, 8, 4, 3]

In [8]:
#Q24. PP to remove the duplicate items from the list

In [9]:
list1=[100,92,81,48,21,100,22,21,73,99,92,100]

In [10]:
list(set(list1))

[99, 100, 73, 48, 81, 21, 22, 92]